@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html {
  font-size: 100%;
  height: 100%;
} */

/* body {
  background: #e2e4df;
  line-height: 1.75;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  background-color: #868b88;
  padding-top: 63.99px;
} */

/* a {
  color: inherit;
  text-decoration: none;
} */

/* html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
} */
